<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-7mQhpDl5nRA5nY9lr8F1st2NbIly/8WqhjTp+0oFxEA/QUuvlbF6M1KXezGBh3Nb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <title>{% block title %}{% endblock title %} | Nihareeka College</title>
  </head>
  


  
  <body style="background-color:LightGray;">
    <nav class="navbar navbar-expand-lg bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Nihareeka College</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"style="color:white;"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="/static/img/image01.jpeg"  width="250" height="35">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/gallery">Gallery</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="/programs" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Programs
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/bsccsit">BSc.CSIT</a></li>
                <li><a class="dropdown-item" href="/bim">BIM</a></li>
                <li><a class="dropdown-item" href="/bim">BCA</a></li>
                <li><a class="dropdown-item" href="/bhm">BHM</a></li>
                <li><a class="dropdown-item" href="/bbs">BBS</a></li>
                <li><a class="dropdown-item" href="/mbs">MBS</a></li>
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="/about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/about">About Us</a></li>
                <li><a class="dropdown-item" href="/management">Management Team</a></li>
                <li><a class="dropdown-item" href="/faculty">Faculty Member</a></li>
                <li><a class="dropdown-item" href="/developers">Developers</a></li>
              
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>






{% block body %}

{% endblock body %}


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    -->
<footer>
    <div class="row mx-2 text-bg-dark p-3">
      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-center text-danger">Quick Contact</h5>
        <ul class="nav flex-column">






          <li class="nav-item mb-2 ">
            
            
            <a class="nav-link p-0 text-white">nihareekacollegebrt@gmail.com</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-white">021-512863 , 021-512864</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-white"> Chadani Marg,Bargachhi</a></li>
          <li class="nav-item mb-2"><a class="nav-link p-0 text-white"> 6:15 AM - 12:00 PM</a></li>
          
        </ul>
      </div>
    
      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-center text-danger">Faculties</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">BSc.CSIT</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">BIM</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">BHM</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">BCA</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">BBS</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">MBS</a></li>

        </ul>
      </div>
    
      <div class="col-6 col-md-2 mb-3">
        <h5 class="text-center text-danger">Links</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">Home</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">Gallary</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">About Us</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">News and Notice</a></li>
          <li class="nav-item mb-2 px-4"><a href="#" class="nav-link p-0 text-white">Contact US</a></li>
        </ul>
      </div>
    
      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Sign Up for newsletter</h5>
          
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Email address</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
            <button type="button" class="btn btn-danger">SUBMIT</button>
          </div>
        </form>
      </div>
    </div>
  </footer>

    
  </body>
</html>